{%- if block.settings.img -%}
  {%- assign image_item = block.settings.img -%}
{%- elsif collection.image and collection != empty -%}
  {%- assign image_item = collection.image -%}
{%- elsif collection.products.first and collection.products.first.images != empty and collection != empty -%}
  {%- assign image_item = collection.products.first.featured_image -%}
{% else %}
  {% assign image_item = blank %}
{% endif %}
<div class="subcategory-item">
    <a href="{{ collection.url }}" class="subcategory-item__link">
        <div class="subcategory-item__image">
        {%- if collection.image -%}
            <img
            src="{{ collection.image | image_url: width: 400, height: 200, crop: 'center' }}"
            alt="{{ collection.title | escape }}"
            class="subcategory-item__image-element"
            loading="lazy"
            width="400"
            height="200"
            >
        {%- endif -%}
        </div>
        <div class="subcategory-item__content">
        <h3 class="subcategory-item__title">{{ collection.title }}</h3>
        </div>
    </a>
</div>