<div id="" class="shopify-section md_call_to_action">
  <!-- md_call_to_action.liquid -->
  <style data-shopify="">
    .content_template--24794512720168__1612489778594 {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      background: #050505;
    }
  </style>
  <div class="w-100">
    <div
      class="content_template--24794512720168__1612489778594"
      data-respon="{'el':'.content_template--24794512720168__1612489778594','mt':'','mb':'','p':''}"
    >
      <div class="section-width container">
        Custom Footer
        <div class="cta cta-horizontal cta-horizontal-box design_7" data-type-block="design_7">
          <div class="row">
            <div class="col-lg-4 col-xl-5">
              <h3 class="cta-title"><span style="font-size: 2rem">Join Our Newsletter</span></h3>
              <p class="cta-desc">
                <span style="font-size: 1.6rem">Subcribe to get information about products and coupons</span>
              </p>
            </div>
            <div class="col-lg-8 col-xl-7">
              <form
                method="post"
                action="/contact#template--24794512720168__1612489778594"
                id="template--24794512720168__1612489778594"
                accept-charset="UTF-8"
                class="newletter"
              >
                <input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓">
                <div class="input-group">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <input
                    type="email"
                    name="contact[email]"
                    class="form-control"
                    value=""
                    placeholder="Enter your Email Address"
                    required=""
                  >
                  <div class="input-group-append">
                    <button
                      class="btn btn-white btn-rounded"
                      name="subscribe"
                      id="subscribetemplate--24794512720168__1612489778594"
                      type="submit"
                      data-value="SUBSCRIBE"
                    >
                      SUBSCRIBE
                    </button>
                  </div>
                </div>
                <div
                  data-lastpass-icon-root=""
                  style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"
                ></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style data-shopify="">
    .content_template--24794512720168__1612489778594 {
      --cl_title: #ffffff;
      --cl_desc: #fdda05;
      --cl_placeholder: #999999;
      --cl_text_iput: #333333;
      --cl_border_iput: #ffffff;
      --cl_bg_iput: #ffffff;
    }
    .cta .cta-title,
    .cta .cta-title h3,
    .cta .cta-title h4,
    .cta .cta-icon {
      color: var(--cl_title);
    }
    .cta .cta-desc,
    .cta .cta-desc h4,
    .cta .cta-desc h3,
    .cta .newsletter-desc,
    .cta .form--success {
      color: var(--cl_desc);
    }
    .cta .input-group input::-webkit-input-placeholder {
      color: var(--cl_placeholder);
    }
    .cta .input-group input::-moz-placeholder {
      color: var(--cl_placeholder);
    }
    .cta .input-group input:-ms-input-placeholder {
      color: var(--cl_placeholder);
    }
    .cta .input-group input:-moz-placeholder {
      color: var(--cl_placeholder);
    }
    .cta .input-group input {
      color: var(--cl_text_iput);
      border-color: var(--cl_border_iput) !important;
      background-color: var(--cl_bg_iput);
    }
  </style>
</div>
