{% style %}
  .footer__item__1{
    display:flex;
    align-items:center;
    justify-content: flex-end;
  }
  .footer__item__1 h3,
  .footer__item__1 p{
    text-align:right;
  }
  .footer__item__2 .input-group{
    width:80%;
  }
  .footer__item__2 .input-group button{
    border-radius: 4px;
    background: #127FB5;
    color: #FAFAFA;
    font-family: Karla;
    font-size: clamp(14px, 5vw, 16px);
    font-style: normal;
    text-transform: uppercase;
  }
  .footer__item__2 .input-group button:hover{
    background: #FFF;
    color: #000;
    border:none;
  }
  @media (max-width:768px){
    .footer__item__2 .input-group{
      width:100%;
    }
  }
{% endstyle %}
<div class="cta cta-horizontal cta-horizontal-box" data-type-block="design_7">
  <div class="row">
    <div class="col-lg-4 col-xl-5 footer__item__1">
      <h3 class="cta-title">{{block.settings.title|html}}</h3>
      <p class="cta-desc">{{block.settings.description|html}}</p>
    </div>
    <div class="col-lg-8 col-xl-7 footer__item__2">
      {%- capture btn_style -%}{{block.settings.style_btn}} {{block.settings.style_btn_rounded}}{%if block.settings.btn_shadow%} btn-shadow{%endif%}{%- endcapture -%}
      {% render 'kt_newsletter_form', section: section, class_form: 'newletter', style_btn: btn_style, text_btn: block.settings.btn_name_cta %}
    </div>
  </div>
</div>