<section class="fixed-panel">
  <div class="container">
    <ul>
      <li>
        <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/home_pin.svg?v=1753759120">
        <span>Store Location</span>
      </li>
    </ul>
  </div>
</section>