{% style %}
  .our-works .grid-masonry {
    margin: 0 auto;
  }

  .our-works .item {
    margin-bottom: 15px;
    width: 100%;
    display: block;
  }

  .our-works .grid-sizer {
    width: 33.333%;
  }

  .our-works .item img {
    width: 100%;
    display: block;
  }
{% endstyle %}

<div class="our-works">
  <h1>Our Works</h1>

  <div class="grid-masonry" data-masonry='{"itemSelector": ".item", "columnWidth": ".grid-sizer", "percentPosition": true}'>
    <div class="grid-sizer"></div>

    {% assign galleries = metaobject.gallery.value %}
    {% for media in galleries %}
      {% assign image = media | image %}
      <div class="item">
        <img src="{{ image | image_url: width: 800 }}" alt="{{ image.alt | escape }}" />
      </div>
    {% endfor %}
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var grid = document.querySelector('.grid-masonry');
    if (grid) {
      new Masonry(grid, {
        itemSelector: '.item',
        columnWidth: '.grid-sizer',
        percentPosition: true
      });
    }
  });
</script>
