<div class="grid grid-item-3">
    <h1>Our Works</h1>
    {% assign galleries = metaobject.gallery %}
    {{ galleries }}

    {% for image in galleries %}
    <img src="{{ image | image_url: '800x' }}" alt="">
    {% endfor %}

</div>
