<div class="grid grid-item-3">
  <h1>Our Works</h1>
<h2>Metafields Dump</h2>
<ul>
  {% for metafield in metaobject.metafields %}
    <li>
      Namespace: <strong>{{ metafield.namespace }}</strong><br>
      Key: <strong>{{ metafield.key }}</strong><br>
      Value: <strong>{{ metafield.value }}</strong>
    </li>
  {% endfor %}
</ul>
}
</div>
