{% comment %} top Header {% endcomment %}
<div class="top-header-el container">
  <div class="top-header-el__main-logo">
    <img width="168" height="48" src="//bighandsbuildingsupply.myshopify.com/cdn/shop/files/Main_Logo_180x@2x.png?v=1752558905" alt="Bighands Building Supply">
  </div>
  <div class="top-header-el__widgets">
    <ul>
      <li>
        <img  width="168" height="48" src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/search.svg?v=1752560359" alt="search" >
        <div style="display:none;">
        {% render 'search-form' %}
        </div>
      </li>
    </ul>
  </div>
</div>