{% comment %} top Header {% endcomment %}
<div class="top-header-el">
  <div class="top-header-el__main-logo">
    <img width="168" height="48" src="//bighandsbuildingsupply.myshopify.com/cdn/shop/files/Main_Logo_180x@2x.png?v=1752558905" alt="Bighands Building Supply">
  </div>
</div>