{% comment %} top Header {% endcomment %}
{% style %}
  .main-header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-header .container ul{
    padding:0px;
    margin:0px;
  }
  .main-header .container ul li{ list-style:none;}
  .main-header .container ul li{ list-style:none;}
  .main-header .container .top-header-el__widgets img{
    width:24px;
    height:24px;
  }
{% endstyle %}
<div class="main-header">
  <div class="top-header-el container">
    <div class="top-header-el__main-logo">
      <img width="168" height="48" src="//bighandsbuildingsupply.myshopify.com/cdn/shop/files/Main_Logo_180x@2x.png?v=1752558905" alt="Bighands Building Supply">
    </div>
    <div class="top-header-el__widgets">
      <ul>
        <li>
          <a href="#">
            <img  width="168" height="48" src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/search.svg?v=1752560359" alt="search" >
            <span class="search-label">Search</span>
          </a>
          <div style="display:none;">
          {% render 'search-form' %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>