<div class="content_header-14 main-header" data-respon="{'el':'.content_header-14','mt':'','mb':'','p':''}">
  <div class="header-top style-14  " data-respon="{'el':'.header-top','mt':'','mb':'','p':'0.6rem 0'}">
    <div class="container">
      <div class="kt--drop-w kt--drop-w-d">
        <div class="header-top-wrapper row align-items-center justify-content-between">
          <div class="block-info _first col-auto">
            <div class="list-currency">
              <div class="block-currency kt--drop-i kt--drop-i-d">
                <div class="kt--drop-title text-link fkt-angle-down_ currency_display">
                  <span class="currency__name">AUD</span>
                </div>
                <div class="kt--drop-in w-auto py-1i currency-list" style="max-width: 1380px; left: 0px;">
                  <ul class="currency curcy_list list-unstyled mb-0 kt_scroll">
                    <li class="curcy_item active" data-currency="AUD">
                      <span class="curc_label"><span aria-label="Australian Dollars">AUD</span></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="block-info _last col-auto">
            <div class="list-phone">
              <span class="infor">
                <a class="fkt-phone-square" href="tel:+98765432">
                  <span class="label">Call: +98 765 432</span>
                </a>
              </span>
            </div>
            <div class="list-wishlist">
              <div class="infor">
                <a class="fkt-heart-o" href=""
                  ><span class="label">My wishlist</span> (<span
                    class="wishlistCount wishlist-count"
                    style="background-color: transparent;"
                    >0</span
                  >)</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="main-header kt--drop-w kt--drop-w-d">
      <div class="clearfix border-top" style="opacity: .5"></div>
      <div class="row min-height align-items-center justify-content-between">
        <div class="col-5 col-md-auto order-1 order-md-2">
          <div class="row align-items-center justify-content-between flex-nowrap">
            <div class="control-inner col-auto d-none d-md-block d-xl-none">
              <div class="mobile-block block-menu-bar">
                <a href="#" class="menu-bar menu-toggle"
                  ><span class="icon"><span></span><span></span><span></span></span
                ></a>
              </div>
            </div>
            <div class="header-logo col-12 col-xl-auto">
              <a class="logo d-inline-block" href="/" style="max-width: 18.0rem;">
                <img
                  width="168"
                  height="48"
                  src="//bighandsbuildingsupply.myshopify.com/cdn/shop/files/Main_Logo_180x@2x.png?v=1752558905"
                  alt="Bighands Building Supply"
                >
                <h1 class="d-none">Bighands Building Supply</h1>
              </a>
            </div>
            <div class="header-menu horizon-menu col-12 col-xl-auto d-none d-xl-block">
              <nav class="main-navigation flex-wrap" data-width="1200">
                <div class="wrap-main-mn">
                  <ul class="kt-nav main-mn clone-main-mn">
                    <li
                      class="mn-lv1 mn-i i-megamn mn-has-child active item-eaba4621-2f2e-4662-bcda-cdb26a7c6911"
                      data-block="parent"
                    >
                      <a href="/">
                        <span>Demo </span>
                      </a>
                      <div style="width: 1400px; max-width: 1380px; left: -961.5px;" class="sub-mn mn-scroll">
                        <div class="d-flex flex-wrap mn-lv2s">
                          <div class="col-lg-6" data-type="linklist"><div class="row"></div></div>
                          <div class="col-lg-6" data-type="linklist"><div class="row"></div></div>
                        </div>
                      </div>
                    </li>
                    <li class="mn-lv1 mn-i i-megamn mn-has-child item-1566368918749" data-block="promo">
                      <a href="#">
                        <span>Shop</span>
                      </a>
                      <div style="width: 1000px; max-width: 1380px; left: -881.969px;" class="sub-mn mn-scroll">
                        <div class="d-flex flex-wrap mn-lv2s">
                          <div class="col-lg-3 --banner" style="--grid-gutter:0">
                            <a class="d-block" href="#">
                              <img
                                class=" ls-is-cached lazyloaded"
                                data-src="//bighandsbuildingsupply.myshopify.com/cdn/shopifycloud/storefront/assets/no-image-2048-a2addb12.gif"
                                alt=""
                                src="//bighandsbuildingsupply.myshopify.com/cdn/shopifycloud/storefront/assets/no-image-2048-a2addb12.gif"
                                style=""
                              >
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="mn-lv1 mn-i i-megamn mn-has-child item-1566370135707" data-block="promo">
                      <a href="/collections">
                        <span>Product</span>
                      </a>
                      <div style="width: 795px; max-width: 1380px; left: -775.719px;" class="sub-mn mn-scroll">
                        <div class="d-flex flex-wrap mn-lv2s">
                          <div class="col-lg-4 --banner" style="--grid-gutter:0">
                            <a class="d-block" href="#">
                              <img
                                class=" ls-is-cached lazyloaded"
                                data-src="//bighandsbuildingsupply.myshopify.com/cdn/shopifycloud/storefront/assets/no-image-2048-a2addb12.gif"
                                alt=""
                                src="//bighandsbuildingsupply.myshopify.com/cdn/shopifycloud/storefront/assets/no-image-2048-a2addb12.gif"
                                style=""
                              >
                            </a>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="mn-lv1 mn-i mn-has-child item-1566370958829" data-block="standard">
                      <a href="#">
                        <span>menu item</span>
                      </a>
                    </li>
                    <li class="mn-lv1 mn-i mn-has-child item-1566371222294" data-block="standard">
                      <a href="#">
                        <span>Main menu</span>
                      </a>
                      <div class="sub-mn">
                        <ul class="mn-lv2s list-unstyled">
                          <li class="mn-i">
                            <a href="/"><span>Home</span></a>
                          </li>
                          <li class="mn-i mn-has-child drop_to_left">
                            <a href="/collections/all"><span>Our Product</span></a>
                            <ul class="mn-lv3s list-unstyled sub-mn">
                              <li class="mn-i">
                                <a href="/collections/roof"><span>Roof</span></a>
                              </li>
                              <li class="mn-i">
                                <a href="/collections/structural-products"><span>Structural Product</span></a>
                              </li>
                              <li class="mn-i">
                                <a href="/collections/wall/Wall"><span>Wall</span></a>
                              </li>
                              <li class="mn-i">
                                <a href="/collections/accessories/Accessories"><span>Accessories</span></a>
                              </li>
                              <li class="mn-i">
                                <a href="/collections/decking/Decking"><span>Decking</span></a>
                              </li>
                              <li class="mn-i">
                                <a href="/collections/outdoor-living/outdoor"><span>Outdoor Living</span></a>
                              </li>
                              <li class="mn-i">
                                <a href="/collections/gutter-and-downpip/Gutter"><span>Gutter and DownPip</span></a>
                              </li>
                            </ul>
                          </li>
                          <li class="mn-i">
                            <a href="/pages/contact"><span>Contact Us</span></a>
                          </li>
                          <li class="mn-i">
                            <a href="/pages/company-shopping-policy"><span>Terms and Conditions</span></a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="mn-lv1 mn-i item-1571208409109" data-block="link">
                      <a href="http://bit.ly/2PkTTWG">
                        <span
                          >Buy Molla!<span class="label-menu _sale"><span>Sale</span></span></span
                        >
                      </a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
        <div class="header-control col-7 col-md-auto order-3">
          <div class="control-inner d-flex align-items-center justify-content-end">
            <div class="mobile-block block-menu-bar d-md-none">
              <div class="menu-bar menu-toggle">
                <span class="icon"><span></span><span></span><span></span></span>
              </div>
            </div>
            <div class="block-search d-none d-md-block">
              <form class="box-search show-input-line" action="/search" method="get" autocomplete="off">
                <div class="inner">
                  <div style="position: relative;">
                    <div class="control d-flex flex-nowrap align-items-center">
                      <input type="hidden" name="options[unavailable_products]" value="show">
                      <input type="hidden" name="type" value="product,page,article,collection">
                      <input type="text" name="q" value="" class="search" placeholder="Search in..." required="">
                      <input type="hidden" name="options[prefix]" value="last">
                      <button type="submit" class="button-search btn" aria-label="Search in...">
                        <svg class="molla-svg-icon" viewBox="0 0 32 32">
                          <use xlink:href="#icon-search"></use>
                        </svg>
                      </button>
                    </div>
                    <div class="li--s-drop"><ul class="li--s list-unstyled kt_scroll row mb-0"></ul></div>
                  </div>
                </div>
              </form>
            </div>
            <div class="block-minicart">
              <div class="mini-cart style-01 load " onclick="KT.drawOpen()">
                <a href="/cart" class="icon-link text-nowrap">
                  <div class="icon-count kt-button">
                    <svg class="molla-svg-icon" viewBox="0 0 32 32">
                      <use xlink:href="#icon-cart"></use>
                    </svg>
                    <span class="count cartCount">1</span>
                  </div>
                  <span class="total title cartCost" data-price="13860">$138.60</span>
                  <span>Cart</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
