<style>
  .main-mobile-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:10px 5px;
  }
  .hamburger-menu img{
  width:25px;
  height:25px;
  }
  .drawer{
    position: fixed;
    z-index: 999;
    background: #FFF;
    width: 100%;
    top: 0;
    bottom: 0;
}
</style>
<div class="main-mobile-header">
  <div class="mobile-logo">
    <a href="/">
      <img
        width="168"
        height="48"
        src="//bighandsbuildingsupply.myshopify.com/cdn/shop/files/Main_Logo_180x@2x.png?v=1752558905"
        alt="Bighands Building Supply"
      >
    </a>
  </div>
  <div class="hamburger-menu">
    <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/hamburger-menu-mobile-svgrepo-com.svg?v=1754875384">
  </div>
</div>
<div class="drawer">
  <div class="main-mobile-header drawer-container">
    <div class="mobile-logo">
      <a href="/">
        <img
          width="168"
          height="48"
          src="//bighandsbuildingsupply.myshopify.com/cdn/shop/files/Main_Logo_180x@2x.png?v=1752558905"
          alt="Bighands Building Supply"
        >
      </a>
    </div>
    <div class="hamburger-menu">
      <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/hamburger-menu-mobile-svgrepo-com.svg?v=1754875384">
    </div>
  </div>
</div>
