<div class="main-header">
  <div class="top-header-el container">
    <div class="top-header-el__main-logo">
      <a href="/">
      <img width="168" height="48" src="//bighandsbuildingsupply.myshopify.com/cdn/shop/files/Main_Logo_180x@2x.png?v=1752558905" alt="Bighands Building Supply">
      </a>
    </div>
    <div class="top-header-el__widgets">
      <ul>
        <li>
          <a href="#" id="search-from-toggle">
            <img  width="168" height="48" src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/search.svg?v=1752560359" alt="search" >
            <span class="label">Search</span>
          </a>
          <div style="display:none;" id="search-form-container">
          {% render 'search-form' %}
          </div>
        </li>
         <li>
          <a href="#">
            <img  width="168" height="48" src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/favorite.svg?v=1752582075" alt="search" >
            <span class="label">Wish List</span>
          </a>
         </li>
         <li>
          <a href="#">
            <div class="d-flex">
            <img  width="168" height="48" src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/shopping_cart.svg?v=1752582144" alt="search" >
            <span class="cart-count">{{ cart.item_count }}</span>
            </div>
            <span class="label">Cart</span>
          </a>
         </li>
         <li>
          <a href="#">
            <img  width="168" height="48" src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/account_circle.svg?v=1752582145" alt="search" >
            <span class="label">Login</span>
          </a>
         </li>
      </ul>
    </div>
  </div>
</div>