<style>
  .main-mobile-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:10px 5px;
  }
  .hamburger-menu img{
  width:25px;
  height:25px;
  }
</style>
<div class="main-mobile-header">
  <div class="mobile-logo">
    <a href="/">
      <img
        width="168"
        height="48"
        src="//bighandsbuildingsupply.myshopify.com/cdn/shop/files/Main_Logo_180x@2x.png?v=1752558905"
        alt="Bighands Building Supply"
      >
    </a>
  </div>
  <div class="hamburger-menu">
    <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/hamburger-menu-mobile-svgrepo-com.svg?v=1754875384">
  </div>
</div>
<drawer>
    <h1>drawer</h1>
</drawer>
