<div class="header-bottom d-none d-lg-block">
  <div class="container">
    <div class="main-header header-menu horizon-menu">
      <nav class="main-navigation" data-width="992">
       <ul>
         <li><a href="#">Home</a></li>
         <li><a href="#">Home</a></li>
         <li><a href="#">Home</a></li>
         <li><a href="#">Home</a></li>
         <li><a href="#">Home</a></li>
       </ul>
      </nav>
    </div>
  </div>
</div>
