{% style %}
  .nav-menu {
    background: #050505;
  }
  .nav-menu ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }
  .nav-menu ul li:hover a{
    color:#127fb5;
  }
  .nav-menu ul li{
    list-style:none;
    position:relative;
  }
  .nav-menu ul li a{
    color: #FAFAFA;
    font-family: Karla;
    font-size: clamp(12px, 5vw, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-transform: uppercase;
  }
  .nav-menu ul li.has-sub{
    
  }
  .nav-menu ul li.has-sub{
    display: flex;
    gap: 8px;
  }
  .nav-menu ul li.has-sub::after {
    transition: transform 0.3s ease;
  }
  .nav-menu ul li.has-sub:hover::after{
    transform:rotate(180deg);
  }
  .nav-menu ul li.has-sub::after{
    content:"";
    width:25px;
    height:22px;
    display:block;
    background-image:url(https://cdn.shopify.com/s/files/1/0859/1186/3592/files/keyboard_arrow_down.svg?v=1752584493);
  }
{% endstyle %}
<div class="header-bottom d-lg-block nav-menu">
  <div class="container">
    <div class="main-header header-menu horizon-menu">
      <nav class="main-navigation">
       <ul>
         <li><a href="#">Home</a></li>
         <li><a href="#">About Us</a></li>
         <li class="has-sub" child-menu="3">
           <a href="#">Our Products</a>
           {% render 'submenu' %}
           </li>
         <li><a href="#">Inspiration</a></li>
         <li><a href="#">Blog</a></li>
         <li><a href="#">FAQ’s</a></li>
         <li><a href="#">Contact Us</a></li>
       </ul>
      </nav>
    </div>
  </div>
</div>