<div class="header-bottom d-none d-lg-block">
  <div class="container">
    <div class="main-header header-menu horizon-menu">
      <nav class="main-navigation" data-width="992">
        <style data-shopify="">
          .wrap-main-mn {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }
          .wrap-main-mn .main-mn {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
          }
          .main-mn .mn-lv1 {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
          }
        </style>
      </nav>
    </div>
  </div>
</div>
