<div class="header-bottom d-none d-lg-block">
  <div class="container"><div class="main-header header-menu horizon-menu">
      <nav class="main-navigation" data-width="992"><style data-shopify="">.wrap-main-mn{ padding-left: 1.5rem;padding-right: 1.5rem }.wrap-main-mn .main-mn{ margin-left: -1.5rem;margin-right: -1.5rem }.main-mn .mn-lv1{ padding-left: 1.5rem;padding-right: 1.5rem }</style><div class="wrap-main-mn">
  <ul class="kt-nav main-mn clone-main-mn"><li class="mn-lv1 mn-i i-megamn mn-has-child active item-1566368019155" data-block="promo">
            <a href="/">
              <span>Home</span>
            </a><div style="width: 1200px; max-width: 1180px; left: 0px;" class="sub-mn mn-scroll"><div class="d-flex flex-wrap mn-lv2s"><div class="col-lg-12 --banner" style="--grid-gutter:0"><div class="menu-col home-demo-html">
<div class="menu-title">Choose your demo</div>
<div class="demo-list">
<div class="demo-item popular-tag"><a href="//midas-theme.myshopify.com/?home=1&amp;preview_theme_id=76180717628"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/001_homepage_furniture.jpg?v=1575682107');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/02_Home01.png?v=1577777609');"></span> </span> <span class="demo-title">01 - Furniture Store</span> </a></div>
<div class="demo-item"><a href="//molla-theme.myshopify.com/?home=1rtl&amp;preview_theme_id=80158588981"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/02_Home01-rtl.jpg?v=1576902236');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/02_Home01rtl.png?v=1577777609');"></span> </span> <span class="demo-title">01 - Furniture Store <span style="padding: 2px 7px; color: #fff; font-weight: 400; background-color: #364154;">(RTL)</span></span> </a></div>
<div class="demo-item popular-tag"><a href="//midas-theme.myshopify.com/?home=2&amp;preview_theme_id=76172066876"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/002_homepage_furniture.jpg?v=1575682107');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/03_Home02.png?v=1577777609');"></span> </span> <span class="demo-title">02 - Furniture Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=3&amp;preview_theme_id=76240584764"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/004_homepage_electronic.jpg?v=1575682107');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/04_Home03.png?v=1577777609');"></span> </span> <span class="demo-title">03 - Electronic Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=4&amp;preview_theme_id=76253954108"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/003_homepage_electronic_d0518f13-4c40-423c-a5f9-f7c27ae72c1e.jpg?v=1575682105');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/05_Home04.png?v=1577777609');"></span> </span> <span class="demo-title">04 - Electronic Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=5&amp;preview_theme_id=76270796860"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/005_homepage_fashion.jpg?v=1575682106');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/06_Home05.png?v=1577777609');"></span> </span> <span class="demo-title">05 - Fashion Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=6&amp;preview_theme_id=76275580988"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/006_homepage_fashion.jpg?v=1575682107');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/07_Home06.png?v=1577777609');"></span> </span> <span class="demo-title">06 - Fashion Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=7&amp;preview_theme_id=76307955772"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/007_homepage_fashion.jpg?v=1575682107');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/08_Home07.png?v=1577777609');"></span> </span> <span class="demo-title">07 - Fashion Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=8&amp;preview_theme_id=76312379452"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/008_homepage_fashion.jpg?v=1575682106');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/09_Home08.png?v=1577777609');"></span> </span> <span class="demo-title">08 - Fashion Store</span> </a></div>
<div class="demo-item popular-tag"><a href="//midas-theme.myshopify.com/?home=9&amp;preview_theme_id=76317327420"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/009_homepage_fashion.jpg?v=1575682106');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/10_Home09.png?v=1577777609');"></span> </span> <span class="demo-title">09 - Fashion Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=10&amp;preview_theme_id=76350292028"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/010_homepage_shoes_store.jpg?v=1575682107');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/11_Home10.png?v=1577777609');"></span> </span> <span class="demo-title">10 - Shoes Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=11&amp;preview_theme_id=76351012924"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/011_homepage_furniture_simple.jpg?v=1575682105');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/12_Home11.png?v=1577777609');"></span> </span> <span class="demo-title">11 - Furniture Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=12&amp;preview_theme_id=76354584636"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/012_homepage_fashion_simple.jpg?v=1575682105');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/13_Home12.png?v=1577777609');"></span> </span> <span class="demo-title">12 - Fashion Store</span> </a></div>
<div class="demo-item popular-tag"><a href="//midas-theme.myshopify.com/?home=13&amp;preview_theme_id=76548210748"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/013_homepage_market.jpg?v=1575682106');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/14_Home13.png?v=1577777609');"></span> </span> <span class="demo-title">13 - Market Store</span> </a></div>
<div class="demo-item popular-tag"><a href="//midas-theme.myshopify.com/?home=14&amp;preview_theme_id=76552273980"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/014_homepage_market_fullwidth.jpg?v=1575682106');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/15_Home14.png?v=1577777609');"></span> </span> <span class="demo-title">14 - Fashion Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=15&amp;preview_theme_id=76559974460"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/015_homepage_lookbook.jpg?v=1575682107');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/16_Home15.png?v=1577777609');"></span> </span> <span class="demo-title">15 - Lookbook Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=16&amp;preview_theme_id=76588908604"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/016_homepage_lookbook_2.jpg?v=1575682107');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/17_Home16.png?v=1577777609');"></span> </span> <span class="demo-title">16 - Lookbook Store</span> </a></div>
<div class="demo-item popular-tag"><a href="//midas-theme.myshopify.com/?home=17&amp;preview_theme_id=76673286204"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/0017_homepage_fashion_banners.jpg?v=1575682108');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/18_Home17.png?v=1577777609');"></span> </span> <span class="demo-title">17 - Market Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=18&amp;preview_theme_id=76707594300"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/018_homepage_fashion_sidebar.jpg?v=1575682106');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/19_Home18.png?v=1577777609');"></span> </span> <span class="demo-title">18 - Fashion Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=19&amp;preview_theme_id=76926255164"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/019_homepage_games.jpg?v=1575682107');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/20_Home19.png?v=1577777609');"></span> </span> <span class="demo-title">19 - Game Store</span> </a></div>
<div class="demo-item"><a href="//midas-theme.myshopify.com/?home=20&amp;preview_theme_id=76089720892"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/020_homepage_books.jpg?v=1575682106');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/21_Home20.png?v=1577777609');"></span> </span> <span class="demo-title">20 - Book Store</span> </a></div>
<div class="demo-item"><a href="//molla-theme.myshopify.com/?home=21&amp;preview_theme_id=81977966645"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/021_homepage_sport.jpg?v=1575682107');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/22_Home21.png?v=1577777609');"></span> </span> <span class="demo-title">21 - Sport</span> </a></div>
<div class="demo-item"><a href="//molla-theme.myshopify.com/?home=22&amp;preview_theme_id=80080699445"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/022_homepage_tools.jpg?v=1575682107');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/23_Home22.png?v=1577777609');"></span> </span> <span class="demo-title">22 - Tools</span> </a></div>
<div class="demo-item"><a href="//molla-theme.myshopify.com/?home=23&amp;preview_theme_id=80229269557"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/023_homepage_fashion.jpg?v=1578474690');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/24_Home23.png?v=1577777609');"></span> </span> <span class="demo-title">23 - Fashion</span> </a></div>
<div class="demo-item"><a href="//molla-theme.myshopify.com/?home=24&amp;preview_theme_id=80347856949"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/024_homepage_extreme_sport.jpg?v=1581654629');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/25_Home24.png?v=1581654794');"></span> </span> <span class="demo-title">24 - Extreme Sport</span> </a></div>
<div class="demo-item popular-tag"><a href="//molla-theme.myshopify.com/?home=25&amp;preview_theme_id=80610689077"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/025_homepage_jewelry.jpg?v=1585042940');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/26_Home25.png?v=1581654794');"></span> </span> <span class="demo-title">25 - Jewelry</span> </a></div>
<div class="demo-item popular-tag"><a href="//molla-theme.myshopify.com/?home=26&amp;preview_theme_id=82798870581"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/26_homepage_market.jpg?v=1585042945');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/27_Home26.png?v=1581654794');"></span> </span> <span class="demo-title">26 - Market Store</span> </a></div>
<div class="demo-item"><a href="//molla-theme.myshopify.com/?home=27&amp;preview_theme_id=83892895797"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/027_homepage_lookbook_3.jpg?v=1605087799');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/28_Home27.png?v=1581654794');"></span> </span> <span class="demo-title">27 - Lookbook Store</span> </a></div>
<div class="demo-item"><a href="//molla-theme.myshopify.com/?home=28&amp;preview_theme_id=82743885877"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/028_food_market.jpg?v=1585042940');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/29_Home28.png?v=1593403094');"></span> </span> <span class="demo-title">28 - Food Market</span> </a></div>
<div class="demo-item"><a href="//molla-theme.myshopify.com/?home=29&amp;preview_theme_id=82615337013"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/029_t-shirts_store.jpg?v=1585042940');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/30_Home29.png?v=1591150727');"></span> </span> <span class="demo-title">29 - T-Shirt Store</span> </a></div>
<div class="demo-item"><a href="//molla-theme.myshopify.com/?home=30&amp;preview_theme_id=82555764789"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/030_headphones_oneproduct_store.jpg?v=1585042941');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/31_Home30.png?v=1590545038');"></span> </span> <span class="demo-title">30 - One Product</span> </a></div>
<div class="demo-item"><a href="//molla-theme.myshopify.com/?home=31&amp;preview_theme_id=82706333749"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/031_yoga_store.jpg?v=1585211403');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/32_Home31.png?v=1592531952');"></span> </span> <span class="demo-title">31 - Yoga Store</span> </a></div>
<div class="demo-item new-tag"><a href="//molla-theme.myshopify.com/?home=32&amp;preview_theme_id=84068958261"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/032_sunglasses_store.jpg?v=1610528896');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/34_Home33.png?v=1612666702');"></span> </span> <span class="demo-title">32 - Sunglasses Store</span> </a></div>
<div class="demo-item new-tag"><a href="//molla-theme.myshopify.com/?home=33&amp;preview_theme_id=84097105973"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/033_cosmetics_store.jpg?v=1610528868');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/34_Home33.png?v=1613816120');"></span> </span> <span class="demo-title">33 - Cosmetics Store</span> </a></div>
<div class="demo-item new-tag"><a href="//molla-theme.myshopify.com/?home=34&amp;preview_theme_id=120124244021"> <span class="demo-bg" style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/034_car_part.jpg?v=1610528647');" data-sizes="contain"> <span style="background-image: url('//cdn.shopify.com/s/files/1/0264/6972/8316/files/35_Home34.png?v=1592531952');"></span> </span> <span class="demo-title">34 - Car part</span> </a></div>
</div>
</div>
<style><!--
.home-demo-html{padding-left:3rem;padding-right:3rem;margin-top:2.2rem;padding-bottom:2rem}.home-demo-html .menu-title{color:#333;font-weight:400;font-size:1.4rem;text-transform:uppercase;margin-bottom:.6rem}.home-demo-html .demo-list{display:flex;align-items:center;flex-flow:wrap;margin:1.8rem -10px .4rem}.home-demo-html .demo-item{color:#999;flex:0 0 50%;max-width:50%;padding:0 10px;text-align:center;margin-bottom:3rem}@media (min-width:768px){.home-demo-html .demo-item{flex:0 0 33.3333333333%;max-width:33.3333333333%}}@media (min-width:992px){.home-demo-html .demo-item{flex:0 0 25%;max-width:25%}}@media (min-width:1200px){.home-demo-html .demo-item{flex:0 0 20%;max-width:20%}}.home-demo-html .demo-item a{color:inherit;position:relative;display:block;overflow:hidden;}.home-demo-html .demo-item a:before {position: absolute;left: -30px;top: 20px;width: 120px;transform: rotate(-45deg);background: #ef837b;color: #fff;text-align: center;z-index: 1;box-shadow: 0 2px 4px rgba(0,0,0,.2);}.home-demo-html .demo-item.popular-tag a:before {content: 'Popular';background: #ffc107;}.home-demo-html .demo-item.new-tag a:before {content: 'New';}.home-demo-html .demo-item.coming-tag a:before {content: 'Coming';background: #4caf50;}.home-demo-html .demo-item a:focus,.home-demo-html .demo-item a:hover{color:var(--primary)}.home-demo-html .demo-item a:focus .demo-bg,.home-demo-html .demo-item a:hover .demo-bg{box-shadow:3px 10px 16px rgba(51,51,51,.05),-3px 10px 16px rgba(51,51,51,.05);background-position:center bottom;transition:background-position 2s linear,box-shadow .3s}.home-demo-html .demo-item a span.demo-bg{position:relative;background-size:cover}.home-demo-html .demo-item a span.demo-bg span{bottom:0;right:0;position:absolute;height:50px;width:50px;background-size:contain;background-repeat:no-repeat;background-position:center;background-color:#fff;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}.home-demo-html .demo-item a span.demo-bg span:hover{height:100%;width:100%}.home-demo-html .demo-bg{display:block;background-color:#f4f4f4;border:.1rem solid #ebebeb;margin-bottom:1.2rem;padding-top:80.95%;background-position:center top;transition:background-position .6s linear,box-shadow .3s}.home-demo-html .demo-title{font-weight:400;font-size:1.3rem;letter-spacing:.01em}
--></style>
</div>
              </div>
            </div>
          </li><li class="mn-lv1 mn-i i-megamn mn-has-child item-1566368918749" data-block="promo">
            <a href="#">
              <span>Shop</span>
            </a><div style="width: 1000px; max-width: 1180px; left: -92.7667px;" class="sub-mn mn-scroll"><div class="d-flex flex-wrap mn-lv2s"><div class="col-lg-9">
                  <div class="row no-gutters"><div class="col-lg-4">
                        <ul class="mega-linklist list-unstyled"><li class="mn-i title_lv1">
                            <a href="#"><span>Shop with sidebar</span></a>
                          </li><li class="mn-i">
                              <a href="/collections/fashion-1-1?preview_theme_id=76275580988"><span>Shop List</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/collections/furniture-1-1?preview_theme_id=76180717628"><span>Shop Grid 4 Columns</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/collections/fashion-all?preview_theme_id=76240584764"><span>Shop Grid 3 Columns</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/collections/fashion-all?preview_theme_id=76253954108"><span>Shop Grid 2 Columns</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/collections/electronic-1-1?preview_theme_id=76548210748"><span>Shop Market<span class="label-menu _new"><span>New</span></span></span></a>
                            </li>
                              
<li class="mn-i title_lv1">
                            <a href="#"><span>Shop no sidebar</span></a>
                          </li><li class="mn-i">
                              <a href="/collections/fashion-1-1?preview_theme_id=76317327420"><span>Shop Boxed No Sidebar</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/collections/fashion-1-1?preview_theme_id=76307955772"><span>Shop Fullwidth No Sidebar<span class="label-menu _hot"><span>Hot</span></span></span></a>
                            </li>
                              
</ul>
                      </div><div class="col-lg-4">
                        <ul class="mega-linklist list-unstyled"><li class="mn-i title_lv1">
                            <a href="#"><span>Product Category</span></a>
                          </li><li class="mn-i">
                              <a href="/collections?preview_theme_id=76275580988"><span>Product Category Boxed<span class="label-menu _new"><span>New</span></span></span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/collections?preview_theme_id=76307955772"><span>Product Category Fullwidth</span></a>
                            </li>
                              
<li class="mn-i title_lv1">
                            <a href="#"><span>Shop Pages</span></a>
                          </li><li class="mn-i">
                              <a href="/account"><span>My Account</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/pages/wishlist"><span>Wishlist</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/cart"><span>Cart</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="https://midas-theme.myshopify.com/?preview_theme_id=76180717628"><span>Cart Dropdown</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="https://molla-theme.myshopify.com/?home=23&amp;cart=popup&amp;preview_theme_id=80229269557"><span>Cart Popup<span class="label-menu _new"><span>New</span></span></span></a>
                            </li>
                              
</ul>
                      </div><div class="col-lg-4">
                        <ul class="mega-linklist list-unstyled"><li class="mn-i">
                            <a href="https://midas-theme.myshopify.com/?preview_theme_id=76172066876"><span>Cart Drawer<span class="label-menu _hot"><span>Hot</span></span></span></a>
                          </li><li class="mn-i">
                            <a href="https://midas-theme.myshopify.com/?preview_theme_id=76172066876"><span>Shipping rates calculator</span></a>
                          </li><li class="mn-i">
                            <a href="https://midas-theme.myshopify.com/?preview_theme_id=76172066876"><span>Threshold free shipping<span class="label-menu _hot"><span>Hot</span></span></span></a>
                          </li><li class="mn-i title_lv1">
                            <a href="#"><span>Shop Options</span></a>
                          </li><li class="mn-i">
                              <a href="/collections/fashion-all?preview_theme_id=76172066876"><span>Masonry Layout</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/collections/fashion-all?preview_theme_id=76240584764"><span>Load more button</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/collections/fashion-all?preview_theme_id=76253954108"><span>Infinite scrolling</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="https://midas-theme.myshopify.com/collections/furniture-1-1?preview_theme_id=76180717628"><span>Filter sidebar</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="https://midas-theme.myshopify.com/collections/fashion-1-1?preview_theme_id=76307955772"><span>Filter drawer</span></a>
                            </li>
                              
</ul>
                      </div></div>
                </div><div class="col-lg-3 --banner" style="--grid-gutter:0"><a class="d-block" href="#">
                        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="//midas-theme.myshopify.com/cdn/shop/files/banner-1.jpg?v=1614724435" alt="files/banner-1.jpg">
                      </a></div>
              </div>
            </div>
          </li><li class="mn-lv1 mn-i i-megamn mn-has-child item-1566370135707" data-block="promo">
            <a href="/collections/all">
              <span>Product</span>
            </a><div style="width: 795px; max-width: 1180px; left: -182.4px;" class="sub-mn mn-scroll"><div class="d-flex flex-wrap mn-lv2s"><div class="col-lg-8">
                  <div class="row no-gutters"><div class="col-lg-6">
                        <ul class="mega-linklist list-unstyled"><li class="mn-i title_lv1">
                            <a href="#"><span>Product Details</span></a>
                          </li><li class="mn-i">
                              <a href="/products/denim-jacket?preview_theme_id=76275580988&amp;style=default"><span>Default</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/products/beige-metal-hoop-tote-bag?preview_theme_id=76312379452&amp;style=center"><span>Centered</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/products/yellow-tie-strap-block-heel-sandals?preview_theme_id=76317327420&amp;style=extended-info"><span>Extended Info</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/products/aliquam-tincidunt-mauris?preview_theme_id=76354584636&amp;style=gallery"><span>Gallery</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/products/brown-faux-fur-longline-coat?preview_theme_id=76552273980&amp;style=sticky-info"><span>Sticky Info</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/products/white-studded-lace-up-side-stripe-trainers?preview_theme_id=76559974460"><span>Boxed With Sidebar</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/products/beige-ring-handle-circle-cross-body-bag?preview_theme_id=76307955772"><span>Full Width</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/products/brown-zebra-print-dungaree-dress?preview_theme_id=76588908604"><span>Masonry Sticky Info</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="https://midas-theme.myshopify.com/collections/fashion-1-1/products/dark-yellow-lace-cut-out-swing-dress?preview_theme_id=76275580988&amp;style=disable-option"><span>Disable default variant<span class="label-menu _hot"><span>Hot</span></span></span></a>
                            </li>
                              
</ul>
                      </div><div class="col-lg-6">
                        <ul class="mega-linklist list-unstyled"><li class="mn-i title_lv1">
                            <a href="#"><span>Product Options</span></a>
                          </li><li class="mn-i">
                              <a href="/products/apple-watch-series-4-gold-aluminum-case"><span>Product video</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/products/studio-bag"><span>Product 3D-AR<span class="label-menu _new"><span>New</span></span></span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/products/yellow-button-front-tea-top"><span>Product Pre-order</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/products/block-side-table-trolley-1"><span>Product External / Affiliate</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/products/black-annie-washed-high-waist-denim-shorts?preview_theme_id=76552273980"><span>Products Grouped</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/products/beige-ring-handle-circle-cross-body-bag?preview_theme_id=76180717628"><span>Sticky add to cart</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="/products/brown-zebra-print-dungaree-dress?preview_theme_id=76588908604"><span>Variant Images Grouped</span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="https://midas-theme.myshopify.com/collections/fashion-1-1/products/dark-yellow-lace-cut-out-swing-dress?preview_theme_id=76275580988"><span>Shipping info by location<span class="label-menu _new"><span>new</span></span></span></a>
                            </li>
                              
<li class="mn-i">
                              <a href="https://midas-theme.myshopify.com/collections/fashion-1-1/products/dark-yellow-lace-cut-out-swing-dress?preview_theme_id=76275580988"><span>Delivery period<span class="label-menu _new"><span>New</span></span></span></a>
                            </li>
                              
</ul>
                      </div></div>
                </div><div class="col-lg-4 --banner" style="--grid-gutter:0"><a class="d-block" href="#">
                        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="//midas-theme.myshopify.com/cdn/shop/files/banner-2.jpg?v=1614724435" alt="files/banner-2.jpg">
                      </a></div>
              </div>
            </div>
          </li><li class="mn-lv1 mn-i mn-has-child item-1566370958829" data-block="standard">
            <a href="#">
              <span>Pages</span>
            </a><div class="sub-mn">
              <ul class="mn-lv2s list-unstyled"><li class="mn-i drop_to_right mn-has-child">
                  <a href="#"><span>About</span></a><ul class="mn-lv3s list-unstyled sub-mn"><li class="mn-i">
                      <a href="/pages/about-us"><span>About 01</span></a></li><li class="mn-i">
                      <a href="/pages/about-us-2"><span>About 02</span></a></li></ul></li><li class="mn-i drop_to_right mn-has-child">
                  <a href="#"><span>Contact</span></a><ul class="mn-lv3s list-unstyled sub-mn"><li class="mn-i">
                      <a href="/pages/contact-us"><span>Contact 01</span></a></li><li class="mn-i">
                      <a href="/pages/contact-us-2"><span>Contact 02</span></a></li></ul></li><li class="mn-i drop_to_right mn-has-child">
                  <a href="/account/login"><span>Login</span></a><ul class="mn-lv3s list-unstyled sub-mn"><li class="mn-i">
                      <a href="https://midas-theme.myshopify.com/?home=1&amp;preview_theme_id=76180717628"><span>Login Modal</span></a></li><li class="mn-i">
                      <a href="https://midas-theme.myshopify.com/?home=2&amp;preview_theme_id=76172066876"><span>Login page</span></a></li></ul></li><li class="mn-i">
                  <a href="/pages/faq"><span>FAQs</span></a></li><li class="mn-i">
                  <a href="/404"><span>Error 404</span></a></li><li class="mn-i">
                  <a href="/password"><span>Coming Soon</span></a></li></ul>
            </div></li><li class="mn-lv1 mn-i mn-has-child item-1566371222294" data-block="standard">
            <a href="#">
              <span>Blog</span>
            </a><div class="sub-mn">
              <ul class="mn-lv2s list-unstyled"><li class="mn-i">
                  <a href="/blogs/classic?preview_theme_id=76180717628"><span>Classic</span></a></li><li class="mn-i">
                  <a href="/blogs/blog-grid-2-columns?preview_theme_id=76172066876"><span>Listing</span></a></li><li class="mn-i drop_to_right mn-has-child">
                  <a href="#"><span>Grid</span></a><ul class="mn-lv3s list-unstyled sub-mn"><li class="mn-i">
                      <a href="/blogs/blog-grid-2-columns?preview_theme_id=76240584764"><span>Grid 2 columns</span></a></li><li class="mn-i">
                      <a href="/blogs/blog-grid-3-columns?preview_theme_id=76253954108"><span>Grid 3 columns</span></a></li><li class="mn-i">
                      <a href="/blogs/blog-grid-3-columns?preview_theme_id=76270796860"><span>Grid 4 columns</span></a></li><li class="mn-i">
                      <a href="/blogs/blog-grid-2-columns?preview_theme_id=76275580988"><span>Grid sidebar</span></a></li></ul></li><li class="mn-i drop_to_right mn-has-child">
                  <a href="#"><span>Masonry</span></a><ul class="mn-lv3s list-unstyled sub-mn"><li class="mn-i">
                      <a href="/blogs/masonry-2-col?preview_theme_id=76317327420"><span>Blog masonry grid</span></a></li><li class="mn-i">
                      <a href="/blogs/masonry-2-col?preview_theme_id=76350292028"><span>Blog masonry sidebar</span></a></li></ul></li><li class="mn-i drop_to_right mn-has-child">
                  <a href="#"><span>Mask</span></a><ul class="mn-lv3s list-unstyled sub-mn"><li class="mn-i">
                      <a href="/blogs/blog-grid-2-columns?preview_theme_id=76307955772"><span>Blog mask grid</span></a></li><li class="mn-i">
                      <a href="/blogs/mask-masonry?preview_theme_id=76312379452"><span>Blog mask masonry</span></a></li></ul></li><li class="mn-i drop_to_right mn-has-child">
                  <a href="#"><span>Single Post</span></a><ul class="mn-lv3s list-unstyled sub-mn"><li class="mn-i">
                      <a href="/blogs/classic/fusce-pellentesque-suscipit-copy?preview_theme_id=76180717628"><span>Default with sidebar</span></a></li><li class="mn-i">
                      <a href="https://midas-theme.myshopify.com/blogs/travel/cras-ornare-tristique-elit-copy/?preview_theme_id=76172066876"><span>Fullwidth no sidebar</span></a></li><li class="mn-i">
                      <a href="/blogs/fashion-full-width/sed-adipiscing-ornare-risus?preview_theme_id=76240584764"><span>Fullwidth with sidebar</span></a></li></ul></li></ul>
            </div></li><li class="mn-lv1 mn-i item-1571215678745" data-block="link">
            <a href="http://bit.ly/2PkTTWG">
              <span>Buy Molla</span>
            </a>
          </li><li class="special_link hot_link item-1573436755097" data-block="hot_1">
            <div class="d-flex flex-nowrap w-100">
              <span class="percen"></span>
              <a href="#">
                <div class="mn-i-hot d-flex align-items-center"><i class="fkt-sketch text-primary"></i><p style="color: #fff;font-weight: 500;text-transform: uppercase;letter-spacing: .05em;">Clearance Up to 30% Off</p></div>        
              </a>
            </div>
          </li></ul>
</div></nav>
    </div>
  </div>
</div>