<div class="header-bottom d-lg-block nav-menu">
  <div class="container">
    <div class="main-header header-menu horizon-menu">
      <nav class="main-navigation">
        <ul class="menu-items-main">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li class="has-sub" child-menu-id="submenu-3"><a href="#">Our Products</a></li>
          <li><a href="#">Inspiration</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">FAQ’s</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>