<div class="header-bottom d-lg-block nav-menu">
  <div class="container">
    <div class="main-header header-menu horizon-menu">
      <nav class="main-navigation">
        <ul class="menu-items-main">
          {% for block in section.blocks %}
            <li><a href="#">Home</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</div>