{%- comment -%} Related product data loop {%- endcomment -%}
<div class="row g-4">
  {%- if section.settings.recommendations_enable and recommendations.performed -%}
    {%- for prd in recommendations.products limit: section.settings.product_items -%}
      <div class="{{ grid_ly }}">
        {%- render "product-grid-item", product: prd, grid_layout: grid_ly, st_card: st_card -%}
      </div>
    {%- endfor -%}
  {%- elsif section.settings.product_related_collection != blank -%}
    {%- assign collection = collections[section.settings.product_related_collection] -%}
    {%- for prd in collection.products limit: section.settings.product_items -%}
      <div class="{{ grid_ly }}">
        {%- render "product-grid-item", product: prd, grid_layout: grid_ly, st_card: st_card -%}
      </div>
    {%- endfor -%}
  {%- endif -%}
</div>
