<div class="block-search d-none d-md-block">
  <form class="box-search show-input-line" action="/search" method="get" autocomplete="off">
    <div class="inner">
      <div style="position: relative;">
        <div class="control d-flex flex-nowrap align-items-center">
          <input type="hidden" name="options[unavailable_products]" value="show">
          <input type="hidden" name="type" value="product,page,article,collection">
          <input type="text" name="q" value="" class="search" placeholder="Search in..." required="">
          <input type="hidden" name="options[prefix]" value="last">
          <button type="submit" class="button-search btn" aria-label="Search in...">
            <svg class="molla-svg-icon" viewBox="0 0 32 32">
              <use xlink:href="#icon-search"></use>
            </svg>
          </button>
        </div>
        <div class="li--s-drop"><ul class="li--s list-unstyled kt_scroll row mb-0"></ul></div>
      </div>
    </div>
  </form>
</div>