<div class="special-offers-container">
    <ul class="submenu__items links-with-icon">
        <li>
        <a href="{{ block.settings.special_item_url }}"><span class="__icon">
            <img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon" /><span class="__label">{{ block.settings.special_item_label }}</span>
        </a>
        </li>
    </ul>
</div>
{% javascript %}
document.addEventListener('DOMContentLoaded', () => {

})
{% endjavascript %}