<div class="special-offers-container">
    <ul class="submenu__items links-with-icon">
        <li>
        
            <img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon" /><span class="__label">{{ block.settings.special_item_label }}</span>
        
        </li>
    </ul>
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {
 let special_offers_html = document.querySelector('.special-offers-container');
 console.log(special_offers_html)
})
</script>