{% style %}
  /*  submenu styles */
submenu{
  position: absolute;
  z-index: 1;
  width: 100%;
}
.submenu{
  display: none;
  visibility: hidden;
  opacity: 0;
  /*  */
}
.submenu.active{
  display: block;
  visibility: visible;
  opacity: 1;
}
.submenu .row {}
.submenu .row .item{
  color: #FFF;
  padding: 0px;
}

.submenu .row .item.item__1{
  background: #1C1B1F;
  display: grid;
  gap:40px;
}
.submenu .row .item.item__2{
  background: #DADADA;
}
.submenu .row .item.item__3{
  background: #EDEDED;
}
.submenu .row .item.item__4{
  background: #F6F6F6;
}
.submenu .row .item .submenu__heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
.submenu .row .item .submenu__heading .see-all-link{
  color: #127FB5;
  font-size: clamp(12px, 5vw, 14px);
  font-style: normal;
  font-weight: 600;
}
.submenu .row .item .submenu__heading h3{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 14px;
  padding-right: 20px;
  font-family: Karla;
  font-size: clamp(14px, 5vw, 18px);
  font-style: normal;
  font-weight: 700;
}
.submenu .row .item.item__1 .submenu__heading h3{
  color: #FAFAFA;
}
.submenu .row .item.style-2 .submenu__heading h3{
  color: #050505;
}
.submenu .row .item.item__3 .submenu__heading h3{
  color: #050505;
}
.submenu .row .item.item__4 .submenu__heading h3{
  color: #050505;
}
.submenu .row .item .submenu__items{}
.submenu .row .item .submenu__items{
  padding-left: 0px;
  margin: 0px;
}
.submenu .row .item .submenu__items.links-with-icon{}
.submenu .row .item .submenu__items.links-with-icon li::after{
   background:none;
}
.submenu .row .item .submenu__items.links-with-icon li a{
  display: flex;
  gap:10px;
}
.submenu .row .item .submenu__items li::after{
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    background-image: url(https://cdn.shopify.com/s/files/1/0859/1186/3592/files/arrow_forward_ios.svg?v=1752658595);
    background-repeat: no-repeat;
}
.submenu .row .item .submenu__items li{
  list-style: none;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #3C4043;
  /*  */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submenu .row .item.style-2 .submenu__items li{
  border-bottom: 1px solid #C5C5C5;
}
.submenu .row .item.style-2 .submenu__items li::after {
  filter: brightness(0);
}
.submenu .row .item.style-2 .submenu__items li:hover::after {
  filter: brightness(1);
}

.submenu .row .item.style-2 .submenu__items li:hover{
    border-bottom: none;
}
.submenu .row .item.style-2 .submenu__items li:hover a{
  color:#FFF;
}
.submenu .row .item .submenu__items li:hover{
  border-bottom: 1px solid #3C4043;
  background: #127FB5;
}
.submenu .row .item .submenu__items li a{
  font-family: Karla;
  font-size: clamp(14px,5vw,16px);
  font-style: normal;
  font-weight: 500;
}
.submenu .row .item.item__1 .submenu__items li a{
  color: #FAFAFA;
}
.submenu .row .item.style-2 .submenu__items li a{
  color: #050505;
}
{% endstyle %}
<submenu>
<div class="submenu submenu-container container {{ block.id }}" id="{{ block.id }}">
    <div class="row">
        <div class="col-12 col-md-3 item item__1">
            <div class="item__1__group">
              <div class="submenu__heading">
                  <h3>OUR PRODUCTS</h3>
              </div>
              <ul class="submenu__items">
                  <li><a href="#">Roofing</a></li>
                  <li><a href="#">Wall</a></li>
                  <li><a href="#">Cool Room</a></li>
                  <li><a href="#">Outdoor Living</a></li>
                  <li><a href="#">Decking</a></li>
                  <li><a href="#">Fencing</a></li>
                  <li><a href="#">Stuctural Product</a></li>
              </ul>
            </div>
            <ul class="submenu__items links-with-icon">
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon"></span><span class="__label">Special Offers</span></a></li>
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon"></span><span class="__label">Special Offers</span></a></li>
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon"></span><span class="__label">Special Offers</span></a></li>
             
            </ul>
        </div>
        <div class="col-12 col-md-3 item item__2 style-2">
            <div class="submenu__heading">
                <h3>ROOFING</h3>
                <a href="#"><span class="see-all-link">See All</span></a>
            </div>
            <ul class="submenu__items">
                <li><a href="#">Insulated EPS Roof</a></li>
                <li><a href="#">Gutter & Fascia</a></li>
                <li><a href="#">Polycarbonate</a></li>
                <li><a href="#">Colorbond Roofing</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-3 item item__3 style-2">
            <div class="submenu__heading">
                <h3>GUTTER & FASCIA</h3>
                <a href="#"><span class="see-all-link">See All</span></a>
            </div>
            <ul class="submenu__items">
                <li><a href="#">Insulated EPS Roof</a></li>
                <li><a href="#">Gutter & Fascia</a></li>
                <li><a href="#">Polycarbonate</a></li>
                <li><a href="#">Colorbond Roofing</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-3 item item__4 style-2">
            <div class="submenu__heading">
                <h3>FASCIA</h3>
                <a href="#"><span class="see-all-link">See All</span></a>
            </div>
            <ul class="submenu__items">
                <li><a href="#">Insulated EPS Roof</a></li>
                <li><a href="#">Gutter & Fascia</a></li>
                <li><a href="#">Polycarbonate</a></li>
                <li><a href="#">Colorbond Roofing</a></li>
            </ul>
        </div>

    </div>
</div>
</submenu>
