{{ 'submenu.css' | asset_url | stylesheet_tag }}
<div class="submenu submenu-container container">
    <div class="row">
        <div class="col-12 col-md-3 item">
            <div class="submenu__heading">
                <h3>OUR PRODUCTS</h3>
            </div>
            <ul class="menu-items">
                <li>Roofing</li>
                <li>Roofing</li>
                <li>Roofing</li>
                <li>Roofing</li>
                <li>Roofing</li>
                <li>Roofing</li>
                <li>Roofing</li>
            </ul>
        </div>
    </div>
</div>
