{{ 'submenu.css' | asset_url | stylesheet_tag }}
<div class="mega-menu">
  <ul class="main-menu">
    <li class="menu-item">
      <a href="#">Roofing</a>
      <div class="submenu">
        <ul>
          <li><a href="#">Insulated EPS Roof</a></li>
          <li><a href="#">Gutter & Fascia</a>
            <ul class="nested-submenu">
              <li><a href="#">Gutter</a></li>
              <li><a href="#">Down Pipe</a></li>
              <li><a href="#">Fascia</a>
                <ul class="deep-submenu">
                  <li><a href="#">Fascia Board</a></li>
                  <li><a href="#">Farter Bracket</a></li>
                  <li><a href="#">Fascia Cap</a></li>
                  <li><a href="#">Fascia External Corner</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Polycarbonate</a></li>
          <li><a href="#">Colorbond Roofing</a></li>
        </ul>
      </div>
    </li>
    <li class="menu-item"><a href="#">Wall</a></li>
    <li class="menu-item"><a href="#">Cool Room</a></li>
    <li class="menu-item"><a href="#">Outdoor Living</a></li>
    <li class="menu-item"><a href="#">Decking</a></li>
    <li class="menu-item"><a href="#">Fencing</a></li>
    <li class="menu-item"><a href="#">Structural Product</a></li>
  </ul>
</div>
