{{ 'submenu.css' | asset_url | stylesheet_tag }}
<div class="submenu submenu-container container">
    <div class="row">
        <div class="col-12 col-md-3 item item__1">
            <div class="submenu__heading">
                <h3>OUR PRODUCTS</h3>
            </div>
            <ul class="submenu__items">
                <li><a href="#">Roofing</a></li>
                <li><a href="#">Roofing</a></li>
                <li><a href="#">Roofing</a></li>
                <li><a href="#">Roofing</a></li>
                <li><a href="#">Roofing</a></li>
                <li><a href="#">Roofing</a></li>
            </ul>
        </div>
    </div>
</div>
