<submenu>
<div class="submenu submenu-container container {{ block.id }}" id="{{ block.id }}">
    <div class="row">
        <div class="col-12 col-md-3 item item__1">
            <div class="item__1__group">
              <div class="submenu__heading">
                  <h3>OUR PRODUCTS</h3>
              </div>
              {{ block.settings.menu-item-1 }}
              <ul class="submenu__items">
                  <li><a href="#">Roofing</a></li>
                  <li><a href="#">Wall</a></li>
                  <li><a href="#">Cool Room</a></li>
                  <li><a href="#">Outdoor Living</a></li>
                  <li><a href="#">Decking</a></li>
                  <li><a href="#">Fencing</a></li>
                  <li><a href="#">Stuctural Product</a></li>
              </ul>
            </div>
            <ul class="submenu__items links-with-icon">
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon"></span><span class="__label">Special Offers</span></a></li>
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon"></span><span class="__label">Special Offers</span></a></li>
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon"></span><span class="__label">Special Offers</span></a></li>
            </ul>
        </div>

    </div>
</div>
</submenu>
