{{ 'submenu.css' | asset_url | stylesheet_tag }}
<div class="mega-menu container-fluid bg-dark text-white py-4">
  <div class="row">
    <div class="col-12 col-md-3 mb-4">
      <h6 class="text-uppercase fw-bold">Roofing</h6>
      <ul class="list-unstyled">
        <li><a href="#" class="text-white text-decoration-none d-block py-1">Insulated EPS Roof</a></li>
        <li>
          <a href="#" class="text-white text-decoration-none d-block py-1">Gutter & Fascia</a>
          <ul class="list-unstyled ps-3">
            <li><a href="#" class="text-white text-decoration-none d-block py-1">Gutter</a></li>
            <li><a href="#" class="text-white text-decoration-none d-block py-1">Down Pipe</a></li>
            <li>
              <a href="#" class="text-white text-decoration-none d-block py-1">Fascia</a>
              <ul class="list-unstyled ps-3">
                <li><a href="#" class="text-white text-decoration-none d-block py-1">Fascia Board</a></li>
                <li><a href="#" class="text-white text-decoration-none d-block py-1">Farter Bracket</a></li>
                <li><a href="#" class="text-white text-decoration-none d-block py-1">Fascia Cap</a></li>
                <li><a href="#" class="text-white text-decoration-none d-block py-1">Fascia External Corner</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#" class="text-white text-decoration-none d-block py-1">Polycarbonate</a></li>
        <li><a href="#" class="text-white text-decoration-none d-block py-1">Colorbond Roofing</a></li>
      </ul>
    </div>

    <div class="col-12 col-md-3 mb-4">
      <h6 class="text-uppercase fw-bold">Wall</h6>
    </div>
    <div class="col-12 col-md-3 mb-4">
      <h6 class="text-uppercase fw-bold">Cool Room</h6>
    </div>
    <div class="col-12 col-md-3 mb-4">
      <h6 class="text-uppercase fw-bold">Outdoor Living</h6>
    </div>
  </div>
</div>

