<div class="w-100" data-block="item_who_we_are">
	  <div class="content_1566459607551" data-respon="{'el':'.content_1566459607551','mt':'5rem','mb':'','p':'5rem 0'}">
      <div class="section-width container">
      	<div class="row">
          <div class="col-lg-5">
            <h2 class="title">Who We Are</h2>
            <p class="lead text-primary mb-3">Pellentesque odio nisi, euismod pharetra a ultricies <br>in diam. Sed arcu. Cras consequat</p><p class="mb-2">Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, uctus metus libero eu augue. </p>
            
            <a href="#" class="btn btn-sm btn-minwidth btn-outline-primary-2">
              <span>VIEW OUR NEWS</span><i class="fkt-long-arrow-right"></i>
            </a>
            
          </div>
          <div class="col-lg-6 offset-lg-1">
            <div class="about-images"><div class="img__banner lazyloaded" style="padding-bottom: 64.2857%; background-image: url(&quot;https://midas-theme.myshopify.com/cdn/shop/files/Untitled-1.jpg?v=1614721670&quot;);" data-bgset="//midas-theme.myshopify.com/cdn/shop/files/Untitled-1_180x.jpg?v=1614721670 180w 116h,//midas-theme.myshopify.com/cdn/shop/files/Untitled-1_360x.jpg?v=1614721670 360w 231h,//midas-theme.myshopify.com/cdn/shop/files/Untitled-1_540x.jpg?v=1614721670 540w 347h,//midas-theme.myshopify.com/cdn/shop/files/Untitled-1.jpg?v=1614721670 560w 360h" aria-label="midas-theme"><picture style="display: none;"><source data-srcset="//midas-theme.myshopify.com/cdn/shop/files/Untitled-1_180x.jpg?v=1614721670 180w 116h,//midas-theme.myshopify.com/cdn/shop/files/Untitled-1_360x.jpg?v=1614721670 360w 231h,//midas-theme.myshopify.com/cdn/shop/files/Untitled-1_540x.jpg?v=1614721670 540w 347h,//midas-theme.myshopify.com/cdn/shop/files/Untitled-1.jpg?v=1614721670 560w 360h" sizes="580px" srcset="//midas-theme.myshopify.com/cdn/shop/files/Untitled-1_180x.jpg?v=1614721670 180w 116h,//midas-theme.myshopify.com/cdn/shop/files/Untitled-1_360x.jpg?v=1614721670 360w 231h,//midas-theme.myshopify.com/cdn/shop/files/Untitled-1_540x.jpg?v=1614721670 540w 347h,//midas-theme.myshopify.com/cdn/shop/files/Untitled-1.jpg?v=1614721670 560w 360h"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="580px"></picture></div>
            </div>
          </div>
        </div>
      </div>
	  </div>
	</div>

    {% schema %}
{
  "name": "About Section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default":"About Section"
    },
    {
      "type": "product_list",
      "id": "product_lists",
      "label": "Product Lists"
    }
  ],
  "presets": [
    {
      "name": "About Section"
    }
  ]
}
{% endschema %}