<div class="custom-footer">
    <div class="row">
        <div class="col-12 col-md-3 item item__1">
            <div class="item__1__group">
              <div class="submenu__heading">
                  <h3>OUR PRODUCTS</h3>
              </div>
              <ul class="submenu__items">
                  <li><a href="#">Roofing</a></li>
                  <li><a href="#">Wall</a></li>
                  <li><a href="#">Cool Room</a></li>
                  <li><a href="#">Outdoor Living</a></li>
                  <li><a href="#">Decking</a></li>
                  <li><a href="#">Fencing</a></li>
                  <li><a href="#">Stuctural Product</a></li>
              </ul>
            </div>
            <ul class="submenu__items links-with-icon">
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon"></span><span class="__label">Special Offers</span></a></li>
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon"></span><span class="__label">Special Offers</span></a></li>
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/sell.svg?v=1752660278" alt="icon"></span><span class="__label">Special Offers</span></a></li>
             
            </ul>
        </div>
        <div class="col-12 col-md-3 item item__2 style-2">
            <div class="submenu__heading">
                <h3>ROOFING</h3>
                <a href="#"><span class="see-all-link">See All</span></a>
            </div>
            <ul class="submenu__items">
                <li><a href="#">Insulated EPS Roof</a></li>
                <li><a href="#">Gutter &amp; Fascia</a></li>
                <li><a href="#">Polycarbonate</a></li>
                <li><a href="#">Colorbond Roofing</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-3 item item__3 style-2">
            <div class="submenu__heading">
                <h3>GUTTER &amp; FASCIA</h3>
                <a href="#"><span class="see-all-link">See All</span></a>
            </div>
            <ul class="submenu__items">
                <li><a href="#">Insulated EPS Roof</a></li>
                <li><a href="#">Gutter &amp; Fascia</a></li>
                <li><a href="#">Polycarbonate</a></li>
                <li><a href="#">Colorbond Roofing</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-3 item item__4 style-2">
            <div class="submenu__heading">
                <h3>FASCIA</h3>
                <a href="#"><span class="see-all-link">See All</span></a>
            </div>
            <ul class="submenu__items">
                <li><a href="#">Insulated EPS Roof</a></li>
                <li><a href="#">Gutter &amp; Fascia</a></li>
                <li><a href="#">Polycarbonate</a></li>
                <li><a href="#">Colorbond Roofing</a></li>
            </ul>
        </div>

    </div>
</div>