<style>
  .custom-footer-section{
    padding:90px 0px;
    border-top: 1px solid rgba(197, 197, 197, 0.50);
  }
  .custom-footer .row .item{
    padding-left:20px;
    padding-right:20px;
  }
  .custom-footer .row .item h3{
    margin-bottom:2rem;
    color: #050505;
    font-family: Karla;
    font-size: clamp(18px,5vw,24px);
    font-style: normal;
    font-weight: 600;   
  }
  .custom-footer .row .item ul{
    padding:0px;
  }
  
  .custom-footer .row .item ul li{
    list-style: none;
  }
  .custom-footer .row .item .links-with-icon a{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .custom-footer .row .item ul li a{
    color: #050505;
    font-family: Karla;
    font-size: clamp(14px, 5vw,16px);
    font-style: normal;
    font-weight: 400;
  }
</style>
<section class="custom-footer-section">
<div class="custom-footer section-width container">
    <div class="row">
        <div class="col-12 col-md-3 item item__1">
            <div class="item__1__group">
              <div class="submenu__heading"></div>
              <div class="footer-logo">
                <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/header_logo_1_1.png?v=1752720717" alt="logo">
              </div>
              <div class="_text">
                <p>We are conveniently located in Auburn, just opposite the Harvey Norman flagship store.</p>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-3 item item__2 style-2">
            <div class="submenu__heading">
                <h3>Quick Links</h3>
            </div>
            <ul class="submenu__items">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Inspiration</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQ’s</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-3 item item__3 style-2">
            <div class="submenu__heading">
                <h3>Products</h3>
            </div>
            <ul class="submenu__items">
                <li><a href="#">Roofing</a></li>
                <li><a href="#">Wall</a></li>
                <li><a href="#">Cool Room</a></li>
                <li><a href="#">Outdoor Living</a></li>
                <li><a href="#">Decking</a></li>
                <li><a href="#">Decking</a></li>
                <li><a href="#">Fencing</a></li>
                <li><a href="#">Structural Product</a></li>
             
            </ul>
        </div>
        <div class="col-12 col-md-3 item item__4 style-2">
            <div class="submenu__heading">
                <h3>Resources</h3>
            </div>
              <ul class="submenu__items links-with-icon">
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/location_on.svg?v=1752721207" alt="icon"></span><span class="__label">60-68 Hampstead Road, Auburn, NSW 2144</span></a></li>
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/mail.svg?v=1752721207" alt="icon"></span><span class="__label">info@bighandsbuildingsupplies.com.au</span></a></li>
              <li><a href="#"><span class="__icon"><img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/location_on.svg?v=1752721207" alt="icon"></span><span class="__label">1300 242 799</span></a></li>
             
            </ul>
        </div>

    </div>
</div>
</section>