{{ "featured-products.css" | asset_url | stylesheet_tag}}

<section class="featured-products section-width container">
    <h1 class="__heading">FEATURED PRODUCTS</h1>
    <div class="__row" >
        <div class="item">
           
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Featured Products",
    "settings": [
      {
        "type": "product_list",
        "id": "product_lists",
        "label": "Product Lists"
      }
      
    ],
    "presets": [
       {
         "name": "Featured Products"
       } 
    ]
  }
{% endschema %}