{{ 'featured-banner.css' | asset_url | stylesheet_tag }}

<section class="featured-banner">
  <div class="container">
      <div class="row  row-1">
        <div class="item __item-1">
          <div class="__heading">
            <h2>Big Discounts</h2>
          </div>
          <div class="__text">
            <p>If you become one of our retailers</p>
          </div>
          <div class="cta">
            <a href="#"><button  class="bhs-primary-btn">BE OUR PARTNER</button></a>
          </div>
        </div>
        <div class="item __item-2">
          <div class="__row2">
            <div class="__item-2__group">
              {% comment %} group 1 {% endcomment %}
              <div class="__group1">
                <div class="__heading">
                  <h2 class=__title>Retail Weekend Sale!</h2>
                  <h2 class="_subheading">GET UP TO <span>50% OFF</span></h2>
                </div>
                <div class="__text">Turn Your Home Goals Into Concrete Reality!</div>
                <div class="cta">
            <a href="#"><button  class="bhs-primary-btn">SHOP NOW</button></a>
          </div>
              </div>
              {% comment %} group 2 {% endcomment %}
              <div class="__group2">
                <div class="__group2-row">
                  <div class="group__item group__item-1">
                    <h2>New Roofing Accessories</h2>
                    <p>Mega Collection</p>
                    <a href="#"><button class="bhs-primary-btn">SHOW COLLECTIONS</button></a>
                  </div>
                  <div class="group__item group__item-2">
                    <h2>New Roofing Accessories</h2>
                    <p>Mega Collection</p>
                    <a href="#"><button class="bhs-primary-btn">SHOW COLLECTIONS</button></a>
                  </div>
                </div>
              </div>
              {% comment %} end of__group2 {% endcomment %}
            </div>
          </div>
        </div>
        {% comment %} end of row {% endcomment %}
      </div>
  </div>
</section>
{% schema %}
{
  "name": "Featured Banner",
  "settings": [],
  "blocks": [],
  "presets": [{
    "name": "Featured Banner"
  }]
}
{% endschema %}

