{% schema %}
{
  "name": "Splide Thumbnail Slider",
  "tag": "section",
  "class": "splide-thumbnail-section container",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
        "type": "metaobject_list",
        "metaobject_type": "inspiration_gallery",
        "id": "met",
        "label": "Inspiration Slides"
      }
       
      ]
    }
  ],
  "presets": [
    {
      "name": "Splide Thumbnail Slider",
      "category": "Media"
    }
  ]
}
{% endschema %}

<!-- Splide CSS CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">

<style>
  #thumbnail-slider .splide__slide,
  #main-slider .splide__slide {
    cursor: pointer;
    border-radius: 8px;
  }

</style>


<div class="splide-thumbnail-wrapper">
  <!-- Main Slider -->
  <div id="main-slider" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        {% for block in section.blocks %}
            {% for item in block.settings.met %}
                <li class="splide__slide">
                {% if item.image %}
                    <img src="{{ item.image | image_url: width: 800 }}" alt="{{ item.title | escape }}" ">
                {% endif %}
                </li>
            {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Thumbnail Slider -->
  <div id="thumbnail-slider" class="splide">
    <div class="splide__track">
      <ul class="splide__list">
        {% for block in section.blocks %}
            {% for item in block.settings.met %}
                <li class="splide__slide">
                {% if item.image %}
                    <img src="{{ item.image | image_url: width: 800 }}" alt="{{ item.title | escape }}">
                {% endif %}
                </li>
            {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- Splide JS CDN -->
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var main = new Splide('#main-slider', {
    type       : 'slide',
    perPage    : 2,
    gap        : '1rem',
    pagination : false,
    arrows     : false,
    cover      : true,
    heightRatio: 0.5,
    breakpoints: {
        768: {
        perPage: 1
        }
    }
    });


    var thumbnails = new Splide('#thumbnail-slider', {
      rewind          : true,
      fixedWidth      : 104,
      fixedHeight     : 58,
      isNavigation    : true,
      gap             : 10,
      focus           : 'center',
      pagination      : false,
      cover           : true,
      dragMinThreshold: {
        mouse: 4,
        touch: 10,
      },
      breakpoints : {
        640: {
          fixedWidth  : 66,
          fixedHeight : 38,
        },
      },
    });

    main.sync(thumbnails);
    main.mount();
    thumbnails.mount();
  });
</script>
