{% schema %}
{
  "name": "Installers",
  "tag": "section",
  "class": "installers-section container",
  "settings": [
        {
        "type": "metaobject_list",
        "metaobject_type": "installers",
        "id": "installers_list",
        "label": "Select Installers"
        }
  ],
  "presets": [
    {
      "name": "Installers",
      "category": "Metaobjects"
    }
  ]
}
{% endschema %}
{% style %}
  .installers-section {
    padding:6rem 0;
  }
  .installers-section .grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:2rem;
  }
{% endstyle %}
<div class="grid grid-cols-3">
    <div class="item">
        <div class="title"></div>
        <div class="tags"></div>
        <div class="details">
            <ul>
                <li>
                     <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/home_pin.svg?v=1753759120">
                     <span>60-68 Hampstead Road, Auburn, NSW 2144</span>
                </li>
                <li>
                     <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/home_pin.svg?v=1753759120">
                     <span>60-68 Hampstead Road, Auburn, NSW 2144</span>
                </li>
                <li>
                     <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/home_pin.svg?v=1753759120">
                     <span>60-68 Hampstead Road, Auburn, NSW 2144</span>
                </li>
            </ul>
        </div>
    </div>
</div>