{% schema %}
{
  "name": "Installers",
  "tag": "section",
  "class": "installers-section container",
  "settings": [
        {
        "type": "metaobject_list",
        "metaobject_type": "installers",
        "id": "installers_list",
        "label": "Select Installers"
        }
  ],
  "presets": [
    {
      "name": "Installers",
      "category": "Metaobjects"
    }
  ]
}
{% endschema %}
{% style %}
  .installers-section {
    padding:6rem 0;
  }
  .installers-section .grid{
      display:grid;
      grid-template-columns:repeat(3,1fr);
      gap:2rem;
    }
    .installers-section .grid ul{
        padding:0px;
    }
    .installers-section .grid ul li{
        list-style:none;
        
        display: flex;
        align-items: center;
        gap: 10px;
        padding:8px 0px;
    }
    .installers-section .grid ul li span{
        color: #050505;
        font-family: Karla;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 125% */
    }
     .installers-section .grid .item{
         border-radius: 4px;
         border: 1px solid #DADADA;
         background: #FAFAFA;
         padding: 16px;
        }
    .installers-section .grid .item .title{
        color: #000;
        font-family: Karla;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;  
    }
    .installers-section .grid .item .tags{
        color: #3C4043;
        font-family: Karla;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding: 2rem 0;
    }
    .installers-section .grid .item .specialization ul{
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
    }
    .installers-section .grid .item .specialization{
        margin-top:24px;
    }
    .installers-section .grid .item .specialization ul li{
        border-radius: 8px;
        background: #EDF1F4;
        padding: 10px;
        color: #000;
        font-family: Karla;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    .installers-section .grid .item .request-a-quote{
        border-radius: 4px;
        border: 1px solid #127FB5;
        background: #FFF;
    }
    .installers-section .grid .item .view-details{
        border-radius: 4px;
        border: 1px solid #DADADA;
        background: #FFF;
    }
    .installers-section .grid .item .cta button:hover{
         background: #127FB5;
         color:white;
    }
    .installers-section .grid .item .cta button{
        width:100%;
    }
    .installers-section .grid .item .cta{
        margin-top:24px;
        display:grid;
        grid-template-columns:repeat(2,1fr);
        gap:10px;
    }
    {% endstyle %}
<div class="grid grid-cols-3">
    {% for item in section.settings.installers_list %}
    <div class="item">
        <div class="title">Elite Roof Systems</div>
        <div class="tags">Commercial</div>
        <div class="details">
            <ul>
                <li>
                     <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/location_on.png?v=1754363429">
                     <span>60-68 Hampstead Road, Auburn, NSW 2144</span>
                </li>
                <li>
                     <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/location_on.png?v=1754363429">
                     <span>60-68 Hampstead Road, Auburn, NSW 2144</span>
                </li>
                <li>
                     <img src="https://cdn.shopify.com/s/files/1/0936/3328/2419/files/location_on.png?v=1754363429">
                     <span>60-68 Hampstead Road, Auburn, NSW 2144</span>
                </li>
            </ul>
        </div>
        <div class="specialization">
            <div class="title">specialization</div>
            <ul>
                <li>Wall Cladding</li>
                <li>Concrete</li>
            </ul>
        </div>
        <div class="cta">
            <a href="#"><button class="request-a-quote">Request a Quote</button></a>
            <a href="{{ item.handle }}"><button class="view-details">View Details</button></a>
        </div>
    </div>
    {% endfor %}
</div>