{{ "shop-by-cat.css" | asset_url | stylesheet_tag}}

<section class="shop-by-cat category_section section-width container">
    <h1 class="__heading">SHOP BY CATEGORIES</h1>
    <div class="__row" >
        <div class="item">
            <div class="icon__heading">
                <p class="col-12 col-md-8">Roofing</p>
            </div>
            <div class="_box d-flex">
                    <div class="col-12 col-md-6 block_content">
                        <ul>
                            <li>Insulated EPS Roof</li>
                            <li>Insulated EPS Roof</li>
                            <li>Insulated EPS Roof</li>
                            <li>Insulated EPS Roof</li>
                        </ul>
                    </div>
                     <div class="col-12 col-md-6 img_content">
                        <img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/low-angle-modern-house-roof_1_2.png?v=1752196562" alt="">
                     </div>
                </div>
        </div>
        <div class="item">
            <div class="icon__heading">
                <p class="col-12 col-md-8">Roofing</p>
            </div>
            <div class="_box d-flex">
                    <div class="col-12 col-md-6 block_content">
                        <ul>
                            <li>Insulated EPS Roof</li>
                            <li>Insulated EPS Roof</li>
                            <li>Insulated EPS Roof</li>
                            <li>Insulated EPS Roof</li>
                        </ul>
                    </div>
                     <div class="col-12 col-md-6 img_content">
                        <img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/low-angle-modern-house-roof_1_2.png?v=1752196562" alt="">
                     </div>
                </div>
        </div>
        <div class="item">
            <div class="icon__heading">
                <p class="col-12 col-md-8">Roofing</p>
            </div>
            <div class="_box d-flex">
                    <div class="col-12 col-md-6 block_content">
                        <ul>
                            <li>Insulated EPS Roof</li>
                            <li>Insulated EPS Roof</li>
                            <li>Insulated EPS Roof</li>
                            <li>Insulated EPS Roof</li>
                        </ul>
                    </div>
                     <div class="col-12 col-md-6 img_content">
                        <img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/low-angle-modern-house-roof_1_2.png?v=1752196562" alt="">
                     </div>
                </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Shop By Categories",
    "settings": [
      
    ],
    "presets": [
       {
         "name": "Shop By Categories"
       } 
    ]
  }
{% endschema %}