{{ "shop-by-cat.css" | asset_url | stylesheet_tag}}

<section class="category_section section-width container">
    <h1 class="__heading">SHOP BY CATEGORIES</h1>
    <div class="row align-items-center">
        <div class="col-12 col-md-4">
            <div class="icon__heading">
                <div class="icon"></div>
            </div>
            <div class="_box row">
                    <div class="col-12 col-md-6">
                        <ul>
                            <li>Insulated EPS Roof</li>
                            <li>Insulated EPS Roof</li>
                            <li>Insulated EPS Roof</li>
                            <li>Insulated EPS Roof</li>
                        </ul>
                    </div>
                     <div class="col-12 col-md-6">
                        <img src="https://cdn.shopify.com/s/files/1/0859/1186/3592/files/2148252768_1_2.png?v=1752116188" alt="">
                     </div>
                </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "Shop By Categories",
    "settings": [
      
    ],
    "presets": [
       {
         "name": "Shop By Categories"
       } 
    ]
  }
{% endschema %}