
  .about-section{
      padding: 48px 0px;
  }

  .about-grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 40px;
  }
  @media (max-width:768px){
    .about-grid {
      grid-template-columns: 1fr;
    }
    .about-section{
      padding: 48px 15px;
    }
  }
  .about-section .quote-btn {
      display: inline-block;
      padding: 10px 15px;
      background-color: #007cba;
      color: white;
      text-decoration: none;
      border-radius: 4px;
  }
  .about-section .main-content h1{
    color: #000;
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 100% */
    margin-bottom:2rem;
  }
  .about-section .main-content p{
    color: #000;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  .about-section .sidebar h3{
    color: #000;
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 100% */
    margin-bottom:24px;
  }
  .about-section .sidebar ul li span{
    color: #050505;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }
  .about-section .sidebar ul{
    padding:0px;
    margin-bottom:24px;
  }
  .about-section .sidebar ul li img{
    width:18px;
    height:18px;
  }
  .about-section .sidebar ul li{
    list-style:none;
    display:flex;
    align-items:center;
    gap:16px;
    padding-top:10px;

  }
