
.installer-modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.installer-modal.hidden { display: none; }
.modal-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.7);
}
.modal-content {
  position: relative;
  background: #fff;
  padding: 20px;
  max-width: 900px;
  width: 90%;
  border-radius: 10px;
  z-index: 1000;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.installer-filters .btn-group button:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.installer-filters .btn-group button{
  background: var(--Colors-Background-bg-primary, #FFF);
  border: 1px solid #C5C5C5;
  padding:10px 16px;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.installer-filters .btn-group button.tag-filter-all{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.installer-filters .btn-group button.active{
  
    background: #127FB5 !important;
    color: #FFF;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

  }
.installer-filters {
  background: #f9f9f9;
  padding: 48px 0px;
  margin-bottom: 20px;
}
.tag-filters button {
  background: #fff;
  border: 1px solid #ccc;
  padding: 6px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.tag-filters button.active {
  background: #007bff;
  border-color: #007bff;
  color: #fff;
}
.search-input {
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
}


