@media (max-width:768px){
    .top-header-el.container{display:none;}
    .main-header .menu-items-main{
        display: grid;
        justify-content: start;
    }
    header .header-announcement-section{
        display:none;
    }
}