@media (max-width:768px){
    .main-header .menu-items-main{
        display: grid;
        justify-content: start;
    }
    .main-header .header-announcement-section{
        display:none;
    }
}