.header-announcement-section{
    background: #FF3B3B;
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.header-announcement-section p{
    margin: 0px;
    color: #FFF;
    font-family: Karla;
    font-size: clamp(12px, 5vw, 15px);
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    text-align: center;
}
.hide-main{
  display: none !important;
}
.lvl-1 > li{ background: #1c1b1f;}
.lvl-2 > li{ background: #dadada; }
.lvl-3 > li{ background: #ffffff;}
.lvl-4 > li{ background: white; }
@media (max-width:768px){
  .nav-menu,.main-header{
    display: none;
  }
}