.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after{
  background-image:url('https://cdn.shopify.com/s/files/1/0936/3328/2419/files/arrow_forward.svg?v=1754985174')
}
.btn.btn-dark.btn-round:hover{
    background: #FFF;
    color:#000 !important;
    border:1px solid #eee;
}
.sg_Services_outer_st_main_inr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.et_pb_code_inner .site_des_inr ul li::before{
  opacity:0;
  display:none;
}
article figure img{
    height: 243px;
    width: 100%;
    object-fit: cover;
}
.swiper-button-next:before, .swiper-button-prev:before{opacity:0;}
#shopify-block-ATjRpelQ1QlU3ZytHU__appio_google_reviews_list_xyVD3n{
  background: #FAFAFA;
  padding:96px 10px;
}
#shopify-block-ATjRpelQ1QlU3ZytHU__appio_google_reviews_list_xyVD3n .agrs__summary__info,
#shopify-block-ATjRpelQ1QlU3ZytHU__appio_google_reviews_list_xyVD3n .args__leave-review{
  display:none !important;
}
#shopify-block-ATjRpelQ1QlU3ZytHU__appio_google_reviews_list_xyVD3n .agrs__created-by{
  position:absolute;
  visibility:hidden;
  z-index:-1;
  opacity:0;
}
#shopify-block-ATjRpelQ1QlU3ZytHU__appio_google_reviews_list_xyVD3n .agrs__widget-title{
  color: var(--Primary-Font, #2A343E);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
}
@media (max-width:768px){
  .sl-anime.slideshow__subtitle{
    font-size: clamp(35px,5vw,64px) !important;
    line-height: normal !important;
  }
  div[data-section-type="banner-section"] .imgs__banner_template9 .text-content {
    right: 0% !important;
    transform: translate(0%, -50%) !important;
  }
}
div[data-section-type="banner-section"] .imgs__banner_template9 .text-content {
  z-index: 1;
  top: 50%;
  right: 50%;
  left: 0;
  transform: translate(50%, -50%);
  -ms-transform: translateY(-50%);
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
div[data-section-type="banner-section"] .banner-subtitle {
  color: #ff0404;
  text-align: center;
  font-family: Karla;
  font-size: clamp(30px,5vw,64px);
  font-style: normal;
  font-weight: 800;
  /* line-height: 62px; */
  letter-spacing: -1.28px;
  margin: 0;
}
div[data-section-type="banner-section"] .banner-title {
  color: #050505;
  text-align: center;
  font-family: Karla;
  font-size: clamp(1.2rem,5vw,3rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
._contractor_text{
  font-size: 1.5rem;
    color: #75E3FF;
    text-align: center;
    font-family: Karla;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
}
._new-btn{
    border-radius: 4px;
    background: #75e3ff;
    padding: 12px 20px;
    align-items: center;
    color: #074d83;
    text-align: center;
    font-family: Karla;
    font-size: clamp(1rem,5vw,1.5rem);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
}
.item__banner.item__1 a.btn:hover,
._new-btn:hover{
   background: #FAFAFA;
  color: #000;
}
.item__banner.item__1 a.btn{

  border-radius: 4px;
  background: #127fb5;
  color: #fff;
  padding: 16px 24px;
}
.item__banner.item__2 a.btn{
    border-radius: 4px;
    background: #FAFAFA;
    color: #000;
    font-weight: 500;
    padding: 16px 24px;
}
.item__banner.item__2 a.btn:hover{
    background: #127fb5;
  color: #FFF;
}
.bhs-primary-btn:hover{
  background: #127fb5;
  color: #FFF;
  border: none;
}
.bhs-primary-btn{
  border-radius: 4px;
  background: #FAFAFA;
  color: #074D83;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.build-big{
  color: #FAFAFA;
    text-align: center;
    font-size: clamp(24px,5vw,34px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.56px;
}
@media (max-width:768px){
  .build-big{
    letter-spacing: normal !important;
  }
}
._loyalty-text{
  margin-top: 10px;
  font-size:clamp(1rem,5vw,1.2rem);
  color:#FFF;    
  color: #FFF;
  text-align: center;
  font-style: normal;
  font-weight: 400;
}