/* .shop-by-cat */
.shop-by-cat {
  padding:96px 0px;
}
@media(max-width:1024px) and (min-width:768px){
  .shop-by-cat .__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
.shop-by-cat .__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media(max-width:768px) {
  .shop-by-cat .__row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 25px;
  }
}

.shop-by-cat .item {
  position: relative;
}

.shop-by-cat .icon__heading::before {
  content: "";
  height: 75px;
  width: 100%;
  background-image: url(/cdn/shop/files/Frame_1.png?v=1752195110);
  position: absolute;
  background-repeat: no-repeat;
  left: -15px;
}
@media(max-width:768px) {
 .shop-by-cat .icon__heading p {
  text-align: center;
 } 
  .shop-by-cat h1.__heading{
    margin-bottom: 20px;
    line-height: normal;
  }
}
.shop-by-cat .__heading {
  color: #000;
  text-align: center;
  font-family: Karla;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  /* 172.222% */
  margin-bottom: 50px;
}

.shop-by-cat .icon__heading {
  display: grid;
  align-items: center;
  justify-items: center;
  background: #000;
  margin-bottom: 3rem;
}

.shop-by-cat .icon__heading p {
  margin: 0;
  color: #fff;
  padding: 10px;
  color: #FAFAFA;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-transform: uppercase;
}

.shop-by-cat ._box {
  min-height: 200px;
  background: #F6F6F6;
  max-height: 200px;
}

@media(max-width:768px) {
  .shop-by-cat ._box {
    display: flex;
    flex-wrap: wrap;
  }
}

.shop-by-cat ._box .img_content {
  padding: 0px;
}

.shop-by-cat ._box .img_content img {
  height: 100%;
  width: 100%;
}

.shop-by-cat ._box .block_content {
  padding: 16px;
}

.shop-by-cat ._box .block_content ul {
  margin: 0;
  padding: 0px;
}

.shop-by-cat ._box .block_content ul li {
  list-style: none;
  color: #000;
  font-family: Karla;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  padding: 5px
}