/* .shop-by-cat */
.shop-by-cat .icon__heading::before{
    content: "";
    height: 75px;
    width: 100%;
    background-image: url(/cdn/shop/files/Frame_1.png?v=1752195110);
    position: absolute;
    background-repeat: no-repeat; 
}
.shop-by-cat .icon__heading{
  display: grid;
  align-items: center;
  justify-items: center;
  background: #000;
      margin-bottom: 3rem;
}
.shop-by-cat .icon__heading p{
      margin: 0;
    color: #fff;
    padding: 10px;
}
.shop-by-cat ._box.row{
  min-height: 200px;
  background: #F6F6F6;
}
.shop-by-cat ._box.row .img_content{
  padding: 0px;
}
.shop-by-cat ._box.row .img_content img{
  height: 100%;
}
.shop-by-cat ._box row .block_content{
  padding: 16px;
}
.shop-by-cat ._box row .block_content ul{
  margin: 0;
  padding: 0px;
}
.shop-by-cat ._box row .block_content ul li{
  list-style: none;
}