/*  submenu styles */
.submenu{}
.submenu .row {}
.submenu .row .item{
  color: #FFF;
  padding: 0px;
}
.submenu .row .item.item__1{
  background: #1C1B1F;
}
.submenu .row .item .submenu__heading h3{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 14px;
  color: #FAFAFA;
  font-family: Karla;
  font-size: clamp(14px, 5vw, 18px);
  font-style: normal;
  font-weight: 700;
}
.submenu .row .item .submenu__items{}
.submenu .row .item .submenu__items{
  padding-left: 0px;
  margin: 0px;
}
.submenu .row .item .submenu__items li{
  list-style: none;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #3C4043;
}
.submenu .row .item .submenu__items li:hover{
  border-bottom: 1px solid #3C4043;
  background: #127FB5;
}
.submenu .row .item .submenu__items li a{
  color: #FAFAFA;
  font-family: Karla;
  font-size: clamp(14px,5vw,16px);
  font-style: normal;
  font-weight: 500;
}