/*  submenu styles */
submenu{
  position: absolute;
  z-index: 1;
  width: 100%;
}
.submenu{
  display: none;
  visibility: hidden;
  opacity: 0;
  /*  */
}
.submenu.active{
  display: block;
  visibility: visible;
  opacity: 1;
}
.submenu .row {}
.submenu .row .item{
  /* color: #FFF; */
  padding: 0px;
}

.submenu .row .item.item__1{
  background: #1C1B1F;
  display: grid;
  gap:40px;
}
.submenu .row .level-2{
  background: #DADADA;
}
.submenu .row .item.item__3{
  background: #EDEDED;
}
.submenu .row .item.item__4{
  background: #F6F6F6;
}
.submenu .row .item .submenu__heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
.submenu .row .item .submenu__heading .see-all-link{
  color: #127FB5;
  font-size: clamp(12px, 5vw, 14px);
  font-style: normal;
  font-weight: 600;
}
.submenu .row .item .submenu__heading h3{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 14px;
  padding-right: 20px;
  font-family: Karla;
  font-size: clamp(14px, 5vw, 18px);
  font-style: normal;
  font-weight: 700;
}
.submenu .submenu__heading .heading__1{
  color: #FAFAFA;
}
.submenu .row .item .submenu__items{}
.submenu .row .item .submenu__items{
  padding-left: 0px;
  margin: 0px;
}
.submenu .row .item .submenu__items.links-with-icon{
      display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.submenu .row .item .submenu__items.links-with-icon li::after{
   background:none;
}
.submenu .row .item .submenu__items.links-with-icon li a{
  display: flex;
  gap:10px;
}
.submenu .row .item .submenu-inner li.submenu-with-children::after{
    filter: brightness(0);
}
.submenu .row .item .submenu__items li.submenu-with-children::after{
    content: "";
    width: 25px;
    height: 25px;
    display: block;
    background-image: url(https://cdn.shopify.com/s/files/1/0859/1186/3592/files/arrow_forward_ios.svg?v=1752658595);
    background-repeat: no-repeat;
}
.submenu .row .item .submenu__items li{
  list-style: none;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #3C4043;
  /*  */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submenu .row .item.style-2 .submenu__items li::after {
  filter: brightness(0);
}
.submenu .row .item.style-2 .submenu__items li:hover::after {
  filter: brightness(1);
}

.submenu .row .item.style-2 .submenu__items li:hover{
    border-bottom: none;
}
.submenu .row .item .submenu__items li a{
  font-family: Karla;
  font-size: clamp(14px,5vw,16px);
  font-style: normal;
  font-weight: 500;
}
.submenu .row .item.item__1 .submenu__items li a{
  color: #FAFAFA;
}
.submenu .row .item.style-2 .submenu__items li a{
  color: #050505;
}
/* LEVEL 2*/
submenu .w-300px{
  width:250px;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
}
.level-2 .submenu__heading h3{
   color: #050505;
   text-transform: uppercase;
}
.submenu .row .level-2,
.submenu .row .level-3{
  height: 100%;
  padding: 0px;
}

.submenu-items-container{
  display: none;
}
.level-2{
    height: -webkit-fill-available;
    min-height: 100%;
}
.submenu-inner li{
  border-bottom: 1px solid #C5C5C5 !important;
}
.submenu .row .item .submenu__items.submenu-inner li a{
  color: #050505;
  font-family: Karla;
  font-size: clamp(12px, 5vw, 16px);
  font-style: normal;
  font-weight: 500;
  }
.submenu .row .item .submenu__items.submenu-inner li:hover,
.submenu .row .lvl-1 li:hover{
    border-bottom: 1px solid #DADADA;
    background: #127FB5;
}
.activeMenuItem{
   background: #127FB5;
}
.submenu .row .item .submenu__items.submenu-inner li.active-list > a{
  color:#FFF;
}
.lvl-4 li:hover > a{
     color:#FFF !important;
}
.submenu-items-container.lvl-3{
  background: #EDEDED;
}
.lvl-3 > ul{
  background: #EDEDED;
}
.lvl-3 li:hover > a{
   color:#FFF !important;
}
/*  */
.extra-columns-container ul{
  padding:0px;
}
.extra-columns-container li{
    list-style: none;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
     border-bottom: 1px solid #C5C5C5 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.extra-columns-container li:hover a{
  color: white;
}
.extra-columns-container li a{
  color: #000;
  font-size: clamp(14px, 5vw, 16px);
}
.extra-columns-container li.submenu-with-children::after{
      content: "";
    width: 25px;
    height: 25px;
    display: block;
    background-image: url(https://cdn.shopify.com/s/files/1/0859/1186/3592/files/arrow_forward_ios.svg?v=1752658595);
    background-repeat: no-repeat;
}
.extra-columns-container{
  display: none;
}

