/*  submenu styles */
.submenu{}
.submenu .row {}
.submenu .row .item{
  color: #FFF;
}
.submenu .row .item.item__1{
  background: #1C1B1F;
}
.submenu .row .item .submenu__heading h3{
  color: #FAFAFA;
  font-family: Karla;
  font-size: clamp(14px, 5vw, 18px);
  font-style: normal;
  font-weight: 700;
}
.submenu .row .item .submenu__items{}
.submenu .row .item .submenu__items{
  padding: 0px;
  margin: 0px;
}
.submenu .row .item .submenu__items li{
  list-style: none;
  padding: 6px 0px;
}
.submenu .row .item .submenu__items li a{
  color: #FAFAFA;
  font-family: Karla;
  font-size: clamp(14px,5vw,16px);
  font-style: normal;
  font-weight: 500;
}